@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  display: flex;
  flex-direction: column;
  flex: 1;
  @apply p-2;
}

.heatmap-canvas {
  pointer-events: none;
  opacity: 0.85;
}
